node_modules

dist
build

lib-cov
coverage
.nyc_output

.gitattributes
.gitignore

LICENSE

.env

.npm
.npmrc
.yarn
.yarn-integrity
.yarnclean
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.pnpm
pnpm-lock.yaml

logs
*.log

.browserslistrc
.editorconfig
.eslintignore
.markdownlintignore
.prettierignore

CHANGELOG.md
